.banner {
  display: flex;
  height: 37rem;
  position: relative;
  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .crumbs-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    .crumbs {
      display: flex;
      gap: 1rem;
      span {
        opacity: 0.5;
      }
      a {
        color: white;
        opacity: 0.5;
        &:hover{
          opacity: 1;
        }
        &.active{
          opacity: 1;
        }
      }
    }
  }
}
