<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" method="post">
    <div>
        <label for=""> Name </label>
        <input type="text" name="name" >
    </div><br/>
    <div>
        <label for=""> Phone </label>
        <input type="text" name="phone">
    </div><br/>
    <div>
        <label for=""> Email </label>
        <input type="email" name="email">
    </div><br/>
    <div>
        <label for=""> Message </label><br/>
        <textarea name="message" id="" cols="30" rows="10"></textarea>
    </div><br/>

    <!--<input type="hidden" name="receiver" value="ogme.store.2024@gmail.com">-->
    <button>Submit</button>
</form>
</body>
</html>