<div style="margin: 32px">
  <div>
    <p>Dear <%=data.receiver%></p>
  </div>
  <div>
    <p>Thank you for being a member of <b>Ogme</b> family.</p>
    <p>Please verify your email.</p>
    <a
      href="<%= data.url%>"
      style="
        padding: 10px 20px;
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 600;
        /* color: #fff; */
        /* background-color: #000; */
        width: 100px;
        height: 40px;
      "
      >Verify</a
    >
  </div>
  <br />
  <div>
    <p>Best Regards.</p>
    <br />
    <div style="float: start">
      <img
        width="150"
        src="https://res.cloudinary.com/djurjstma/image/upload/v1717608705/logo/xqd4torrgro8pjv15lla.jpg"
        alt="Ogme Store"
      />
    </div>
  </div>
</div>
