
<div style="margin: 32px;">
    <div>
        <h3>Customer Details:</h3>
        <p>Name: <%=data.customerName%></p>
        <p>Email: <%=data.customerEmail%></p>
        <p>Phone: <%=data.customerPhone%></p>
    </div>
    <div>
        <h3>Message:</h3>
        <p>
            <%=data.customerMessage%>
        </p>
    </div>
    <br/>
    <div>
        <!--<p>Best Regards.</p>-->
        <div style="float: start">
            <img width="150" src="https://res.cloudinary.com/djurjstma/image/upload/v1717608705/logo/xqd4torrgro8pjv15lla.jpg" alt="Ogme Store">
        </div>
    </div>
</div>
