<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
  />
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: raleway;
    }
    p{
      font-size: 16px;
    }
    .message{
      color: black;
    }
    img + div { display: none; } 
  </style>
</head>
<body>
  <div class="container" style="background-color:#f8f8f8;">
    <div class="content" 
      style="
      padding-top: 60px;
      padding-bottom: 120px;
      padding-left: 16px;
      padding-right: 16px;
      width: 700px;
      margin-left: auto;
      margin-right: auto;
      "
      >
        <div class="logo" style="width: 100px;">
          <img
            onclick="(e) => e.preventDefault()"
            src="https://res.cloudinary.com/dgu9xnvxf/image/upload/v1722528365/logo_o6astf.png"
            alt="Ogme Store"
            style="width: 100%; object-fit: contain; cursor: none;"
          />
      </div>
      <div class="title" 
        style="
        padding: 60px;
        background-color: #000;
        background-size: contain;
        color: #ffffff;
        position: relative;
        text-align: center;
        background-blend-mode: multiply;
        position: relative;
        ">
        <div class="icon" style="width: 60px; margin:10px auto ;">
          <img
           onclick="(e) => e.preventDefault()"
           src="https://res.cloudinary.com/dgu9xnvxf/image/upload/v1722528380/check_z0petj.png" alt="Checked" 
           style="width: 100% ;cursor:none; object-fit: contain;"/>
        </div>
        <h1 style="display: block;">Thanks <%=data.receiver.split(" ")[0]%></h1> 
        <p>We received your request.</p>
      </div>
      <div class="message" 
        style="
        padding: 24px 40px;
        background-color: #ffffff;">
        <p>
          Hi <%=data.receiver.split(" ")[0]%>,<br /><br />
          Thank you for being a member of <b>Ogme</b> family. <br />
          <%=data.message%> <br />
          <a
            href="<%=data.link%>"
            style="
              /* padding: 10px 20px; */
              font-family: 'Roboto';
              /* font-size: 20px; */
              /* font-weight: 600; */
              /* color: #fff; */
              /* background-color: #000; */
              width: 100px;
              height: 40px;
            "
          >
          Reset Password
          </a>
          <br /><br />
          Have a great day!
        </p>
      </div>
    </div>
  </div>
</body>
</html>
