<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/user/login" method="post">
    <label for="2">Email</label>
    <input type="email" name="username" id="2">
    <label for="3">Password</label>
    <input type="password" name="password" id="3">
    <button type="submit">Login</button>
</form>
</body>
</html>