.card{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    .img-container{
        height: 24.75rem;
        width: 22.625rem !important;
        position: relative;
        overflow: hidden;
        img{
            transition: .3s ease all;
        }
    }
    .desc{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding-block: .5rem;
        text-transform: capitalize;
        gap: .5rem;
        p{
            font-weight: 600;
        }
    }
    &:hover{
        box-shadow: 0 1px 4px 2px rgba($color: #000000, $alpha: .3);
        img{
            transform: scale(120%);
        }
    }
    .price{
        span{
            display: flex;
            gap: .5rem;
            del{
                color: $danger;
            }
        }
    }
}