.dialog-reset-container{
    position: fixed;
    left: 0;
    top: 0;
    background-color:rgba($color: #333333, $alpha: .9);
    backdrop-filter: blur(3px);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: white;
    .dialog{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 4rem;
        // background-color: #222;
        .options{
            display: flex;
            justify-content: space-evenly;
            .btn-dialog{
                @include ff-link;
                opacity: .5;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                }
            }
        }
        input{
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #aaa;
            border-radius: 0;
            outline: none;
            font-size: 1rem;
            color: white;
            &::placeholder{
                color: #aaa;
            }
        }
    }
    .btn-reset-disabled{
        opacity: .5 !important;
        cursor: none !important;
    }
}