.header-mob {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 10rem;
      position: relative;
      z-index: 1;
      box-shadow: 0 1px 8px rgba($color: #000000, $alpha: 0.2);
      .logo {
        display: flex;
        cursor: pointer;
        img {
          width: 12rem;
        }
      }
      .account {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2.5rem;
        width: 12rem;
        .profile {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          overflow: hidden;
          cursor: pointer;
        border: 1.2px solid;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .log-regist{
          display: flex;
          gap: .5rem;
          @include ff-link;
          span{
            opacity: .5;
          }
          a{
            opacity: .5;
            &:hover{
              opacity: 1;
            }
            &.active{
              opacity: 1;
            }
          }
        }
      }
      .cart-icon{
        position: relative;
        width: 12rem;
        display: flex;
        justify-content: flex-end;
        a{
          font-size: 2rem;
          opacity: 0.5;
          cursor: pointer;
          &.active{
            opacity: 1 !important;
          }
        }
        span{
          display: flex;
          justify-content: center;
          line-height: 1rem;
          background-color: $danger;
          border-radius: 50%;
          width: 1.2rem;
          height: 1.2rem;
          color: white;
          position: absolute;
          top: 0;
          right: -.6rem;
        }
      }

    }
  }
  