.meet-artist{
    height: 39.8125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-size: cover;
    background-position: 50% 60%;
    .btn{
        @include btn-pr-ghost
    }
}