.onboard-welcome {
  .logo {
    height: 7rem;
    img {
      animation: intro 1s ease-in-out infinite alternate;
      transform-origin: center center
    }
  }
}

@keyframes intro {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
